.browsehappy {
  margin: 3em 0; /*0.2em 0;*/
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 50px;
  padding-bottom: 70px;  /* for bottom navbar */
}

/* pad the heading text */
.heading {
  /*padding: 20px 15px;*/
  /*text-align: center;*/
}

/* Show a hover colour over the iflows table rows */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFFFCD;
  cursor: pointer;
}

/* remove the above table however on the pop-in rows */
.table-hover tbody tr.row-popin:hover td {
  background-color: #FFFFFF;
  cursor: pointer;
}
/* remove the above table however on the pop-in row header (set cursor to normal) */
.table-hover tbody tr.row-popin:hover th {
  background-color: #FFFFFF;
  cursor: auto;
}

/* set the selected row of the iflows table to bold when the pop-in table is showing */
.js-iflows tr[data-js-open=true] {
  font-weight: bold;
}

/* display the popin table with a smaller font */
tbody > tr.row-popin > td {
  font-size: 85%;
}

/* iflow table font*/
.js-iflows {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer, #footerAlreadyRunning, #footerSettings, #footerMsgCancelled {
  display: none;
  z-index: 5000;  /*force to top - above the bootom navbar*/
}

.navbar-nav li a .glyphicon-flash {
  color: #CCCC00;
}

/* Alerts */
#js-alert-connection, #js-alert-ajax {
  display: none;
}

.js-iflow-num {
  /* line up the iflow number badge with vertical centre */
  vertical-align: text-bottom;
  line-height: 1.5;
}


/* PAYLOAD - LOG MODAL DIALOG */
.pimon-payload-modal pre, .pimon-payload-modal .prettyprint {
  border: none;
  padding-top: 20px;
  background-color: #ffffff;
}

#modal-tab-log-table {
  padding-top: 20px;  
}

.status_log_table {
  table-layout: fixed;
  width: 100%;
  /*display: block;
  overflow: auto;*/
}

.status_log_table td {
  word-wrap: break-word;
  font-size: 85%;
  /*white-space: pre;*/
}

.status_log_table td:first-child {
  width: 30px;
}

.img-traffic-light {
  width: 15px;
  height: 15px;
}


/* Animate the notificaiton bell (relies on animate css: https://github.com/daneden/animate.css)*/
/* The last parameter to the animation command is how many times to perform the animation. i.e. */
/* 5 times or infinite times, etc.                                                              */
.navbar-nav > li > a i.icon-bell.shake {
  display: inline-block;
  color: #000;
  -webkit-animation:swing .5s 5; /*infinite;*/
  -moz-animation:swing .5s 5; /*infinite;*/
  -ms-animation:swing .5s 5; /*infinite;*/
  animation:swing .5s 5; /*infinite;*/
} 

.badge.red {
  background-color: #c95b5b;
}


/* TABLE SORTER OVERRIDES */

/* change the table sorter header to normal font-weight and blue colour to match navbar */
.tablesorter-bootstrap .tablesorter-header-inner {
  color: #428bca;
  font-weight: normal;
  position: relative;
  padding: 4px 18px 4px 4px;
}

/* change the in-built table sort un-sorted icon (which is back) to my own with a changed blue colour to match navbar */
.tablesorter-bootstrap .tablesorter-headerRow .bootstrap-icon-unsorted {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAYAAAD5YeaVAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAABB0lEQVQoU2P4jwT+/fv3/9mzZ/+Llt8A0yA+MmBigAKgIMPt27cZeg5+Yrjw5BOYBvFB4jDACNXJcOvWLYZZ5xnACmHAQIaPIc2QgUFNTY2BkZGRAWzyq1evUBSCFIEASCPIAJA8CIAVd+3/ADcRpLA9SJEBWQNIHq4Y2doWfzkGNjY2BhAN04DiZrgjCTDgoUGMBnBoFK+4CXYzyNpCG24GGRkZhidPnjD0H/kKF++NUId4EAZAGkAKXr9+DVeILA82+evXrwx1m5+ghDGyp5t8ZRi4ubkhJoMYdZ4SGL4HOQskDpJHCTp+fn6GWg9xuAaQQhAfJA4HKCkFyPn06RM4IYFodAAAoXvICnY4caEAAAAASUVORK5CYII=');
}


/* BOOSTRAP OVERRIDES */

/* change standard bootstrap alert to have no margin-bottom so that it sits flush at bottom of window */
.alert[id=my_alert] {
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 10px;  /*4px;*/
}

/* Override Bootstrap modal dialog width (from 600px) */
@media screen and (min-width: 768px) {
  .pimon-payload-modal .modal-dialog {
    width: 850px;
  }
}

.navbar-fixed-top {
  background: white;
  border-bottom: 1px solid #e7e7e7;
}
/* small changes to the navbar */
.navbar-brand {
  padding: 3px 15px 0 15px;
  color: black;
}
.navbar-brand img {
  height: 40px;
  width: auto;
}
.navbar-brand .text {
  color: black;
  display: inline-block;
  height: 28px;
  padding-top: 22px;
  font-size: 20px;
}
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus,
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: black;
  background: white;
}
.navbar-nav > li:hover {
  color: black;
  background: white;
}
.navbar-nav > li {
  border-right: 1px solid white;
  border-left: 1px solid #e7e7e7;
}
.navbar-nav > li:last-child {
  border-right: 1px solid #e7e7e7;
}
.navbar-right > li:nth-child(3) {
  border-right: 1px solid #e7e7e7;
}
.navbar-toggle {
  background-color: #f8f8f8;
  -webkit-border-radius: 2;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2;
  -moz-background-clip: padding;
  border-radius: 2;
  background-clip: padding-box;
  border: 1px solid #dfdfdf;
  border-bottom: 4px solid #dfdfdf;
  border-right: 4px solid #dfdfdf;
}
.navbar-toggle .icon-bar {
  background-color: #acacac;
}
.navbar-toggle:hover {
  background-color: #dfdfdf;
  border: 1px solid #acacac;
  border-bottom: 4px solid #acacac;
  border-right: 4px solid #acacac;
}
.navbar-toggle:hover .icon-bar {
  background-color: black;
}

/* headings */
h1,
h1 small {
  display: inline-block;
  margin-top:10px;
  margin-bottom: 15px;
  font-weight: 100;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}


/*** -------------- chart stuff ----------------- ***/
.stats-heading {
  /*padding: 30px 15px 50px 15px;*/
  /*text-align: center;*/
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.pimon-chart {
  width: 100%;
  height: 300px;
  padding: 0;
  position: relative;
}

/* Flot chart Legend container - line up the right-side of the legend with the right-side of the chart */
#pimon-chart-legend {
  padding-right: 30px;
}

.container-gauges {
  margin-right: auto;
  margin-left: auto;
  width: 610px;
}

.container-gauges-small {
  margin-right: auto;
  margin-left: auto;
  width: 460px;
  padding-top: 45px;
}

.js-guage {
  width: 200px;
  height: 160px;
  display: inline-block;
}

#pimon-carousel {
  padding-top: 20px;
}

.carousel-indicators > li[class=active] {
  background-color: #949489;
}

.carousel-indicators > li {
  border: 1px solid #949489;
}

/* carousel item*/
.item {
  /*color: #666;*/
  background: #fff;
  height: 250px;

}

.box {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -moz-background-clip:padding;
  border-radius:0;
  -webkit-border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
  -moz-border-radius-topright:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  -moz-background-clip:padding-box;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  padding:10px;margin-bottom:30px;
  overflow:visible;
  background:#fafafa;
  -webkit-box-shadow:1px 1px 1px #e7e7e7;
  -moz-box-shadow:1px 1px 1px #e7e7e7;
  box-shadow:1px 1px 1px #e7e7e7
}

.box .icon {
  float:left;
  height:70px;
  width:85px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -moz-background-clip:padding;
  border-radius:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  border-top-right-radius:3px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  -moz-background-clip:padding-box;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  padding-left: 19px;  /*22px;*/
  margin-right:10px;
  font-size:48px;
  color:#fff;
  background:#4aa1af
}

.box .icon.red {
  background:#c95b5b
}

.box .icon.orange {
  background:#efad29
}

.box .icon.green {
  background:#7ac17d
}

.box .icon.gray {
  background:#716b7a
}

.box .icon.blue {
  background:#6bb5c1
}

.box .icon.black {
  background:#000
}

.box .content-right {
  margin-left: 100px;
  position: relative
}

.box form {
  padding-left: 20px;
  padding-right: 20px
}

.box:hover {
  background: #f5f5f5
}

.box.hp_knob {
  width: 100px;
  float: left
}

.box .title {
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: 500;
  color: #efad29;
  word-wrap: break-word; /* stop long words breaking out of the box div */
}

.box .title a {
  font-size: 9px;
  font-weight: 300
}

.box .title.red {
  color: #c95b5b
}

.box .title.orange {
  color: #efad29
}

.box .title.green {
  color: #7ac17d
}

.box .title.gray {
  color: #716b7a
}

.box .title.blue {
  color: #6bb5c1
}

.box .title.black {
  color: #444
}

.box .value {
  font-size: 18px;
  margin-top: -2px;  /*-5px;*/
  margin-bottom: 4px;
  font-weight: 500;
  color: #000;
  word-wrap: break-word; /* stop long words breaking out of the box div */
}

.box .smallvalue {
  font-size: 10px;
  margin-top: -2px;  /*-5px;*/
  margin-bottom: 4px;
  font-weight: 500;
  color: #000;
  word-wrap: break-word; /* stop long words breaking out of the box div */
}

.box .value a {
  font-weight: 300;
  font-size:9px
}

.box .value.red {
  color:#c95b5b
}

.box .value.orange {
  color:#efad29
}

.box .value.green {
  color:#7ac17d
}

.box .value.gray {
  color:#716b7a
}

.box .value.blue {
  color:#6bb5c1
}

.box .value.black {
  color:#444
}

/* Custom Date Search Stuff */
#customDates {
  clear: above;
  padding-bottom: 10px;
  padding-top: 4px;
  display:none;
}

.date {
  width: 220px;
  float: left;
  margin-right: 10px;
}